# General build stuff
testresources

setuptools

# General python dependencies
appdirs
flaky
lief
psutil
pylint
pytest
pytest-cov
pytest-timeout
python-magic
python-tlsh
requests
ssdeep
xmltodict
yara-python

git+https://hub.fastgit.xyz/fkie-cad/fact_helper_file.git

# Python MongoDB bindings
pymongo<4
pyyaml

# Common code modules
git+https://hub.fastgit.xyz/fkie-cad/common_helper_files.git
git+https://hub.fastgit.xyz/fkie-cad/common_helper_filter.git
git+https://hub.fastgit.xyz/fkie-cad/common_helper_mongo.git
git+https://hub.fastgit.xyz/mass-project/common_helper_encoder.git

